@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Syne:wght@400..800&display=swap');

:root {
  --color-text: #242424;
  --font-family: 'Syne', sans-serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: var(--font-family)!important;
  letter-spacing: -0.05em;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-size: 1em;
}

